body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background: linear-gradient(-45deg, #ffcc49, #ea2d5c, #ffcc49, #ea2d5c);
    background-size: 200% 200%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    animation: animate 10s ease infinite;
    justify-content: space-between;
    z-index: 1;
}
@keyframes animate{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%
    }
 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: relative;
}
/* Styles for portrait mode on mobile devices */
@media (orientation: portrait) {
    .container {
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
        justify-content: center; /* Center items vertically */
        flex-grow: 1;
        position: relative;
    }
}

/* Optional: Adjust for small screens if needed */
@media (max-width: 600px) and (orientation: portrait) {
    .container {
        /* You can add additional styles here if needed */
    }
}

/* Phone frame */
.phone-frame {
    width: 277px;
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 40px; /* Smooth curve to match a phone's corners */
    overflow: hidden; /* Ensures that images don't overflow out of the curved container */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.slideshow {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: inherit; /* Inherit the smooth curve from .phone-frame */
}

.slideshow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    animation: slideShow 6s infinite;
    border-radius: inherit; /* Inherit the smooth curve from the parent container */
}

@keyframes slideShow {
    0% { opacity: 0; }
    16% { opacity: 1; }
    50% { opacity: 1; }
    66% { opacity: 0; }
    100% { opacity: 0; }
}

.slideshow img:nth-child(1) {
    animation-delay: 0s;
}

.slideshow img:nth-child(2) {
    animation-delay: 2s;
}

.slideshow img:nth-child(3) {
    animation-delay: 4s;
}
.info-section {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    margin-left: 20px;
}
@font-face {
    font-family: 'CustomFont';
    src: url(fonts/Clicker_Script/ClickerScript-Regular.ttf);
}

.logo h1 {
    font-family: 'CustomFont', sans-serif;
    font-size: 6rem;
    color: #f6f3ed;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 4px rgba(120, 118, 118, 0.3); 
}
/* Download buttons */
.download-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.download-button {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin-bottom: 15px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.download-button img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.download-button.google-play {
    background-color: #ffffff;  /* White background */
    color: #000;  /* Black text */
    font-family: 'Google Sans', sans-serif;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.download-button.app-store {
    /* Keep the original black background and white text */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Bottom bar */
.bottom-bar {
    background-color: black;
    color: #f6f3ed;
    padding: 10px;
    text-align: center;
}

.bottom-bar a {
    color: #f6f3ed;
    margin: 0 10px;
    text-decoration: none;
}

.bottom-bar p {
    margin: 5px 0 0 0;
}
